{{!-- <div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script> --}}



    <div class="container">
        <form  class="form" id="login">
            <h1 class="form__title">Login</h1>
            <div class="form__message form__message-error"></div>

            <div class="form__input-group"></div>
            <input type="text" id= "username" class="form__input" autofocus placeholder="Username or email">
            <div class="form__input-error-message"></div>

            <div class="form__input-group"></div>
            <input type="password" id= "password" class="form__input" autofocus placeholder="Password">
            <div class="form__input-error-message"></div>

            <button class="form__button" type="submit">Continue</button>

            <p class="form__text">
                <a href="#" class="form__link">Forgot your password?</a>
            </p>

            <p class="form__text">
                <a class="form__link" href="./" id="linkCreateAccount">Don't have an account? Create account</a>
            </p>

        </form>

        {{!-- <form class="form form-hidden" id="createAccount">
            <h1 class="form__title">Create Account</h1>
            <div class="form__message form__message-error"></div>

            <div class="form__input-group"></div>
            <input type="text" id="signupUsername" class="form__input" autofocus placeholder="Username">
            <div class="form__input-error-message"></div>

            <div class="form__input-group"></div>
            <input type="text" class="form__input" autofocus placeholder="Email Address">
            <div class="form__input-error-message"></div>

            <div class="form__input-group"></div>
            <input type="password" class="form__input" autofocus placeholder="Password">
            <div class="form__input-error-message"></div>

            <div class="form__input-group"></div>
            <input type="password" class="form__input" autofocus placeholder="Confirm Password">
            <div class="form__input-error-message"></div>

            <button class="form__button" type="submit">Continue</button>

            

            <p class="form__text">
                <a class="form__link" href="./" id="linkLogin">Already have an account? Sign in</a>
            </p>

        </form> --}}
    </div>
    
    <script src="/js/login-jon.js"></script>