 <section id="search-bar-main">
        <div id="search-bar-border">
        <nav id="search-plants">
            <form id="search-bar">
                <input id="search-input"  placeholder="Search for a houseplant by common name!" aria-label="Search">
                <button id="search-button" type="submit"><span class="material-symbols-outlined">
                    search </span></button>
            </form>
        </nav>
        </div>

        <p id="plant-info"></p>
        <script src="/js/search-sabina.js"></script>