<h2>Search for your plants!</h2>
 <section id="search-bar-main">
        <div id="search-bar-border">
        <nav id="search-plants">
            <form id="search-bar">
                <input id="search-input"  placeholder="Search for a houseplant by common name!" aria-label="Search">
                <button id="search-button" type="submit"><span class="material-symbols-outlined">
                    search </span></button>
            </form>
        </nav>
      </section>  
        </div>
       
       <div id="plant-card-list">

       </div>

           {{#each plants as |plant|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}

 <script src="/js/search-sabina.js"></script>