:root {
  --brown: #554141;
  --green: #3a755f;
  --light_green: #82b9a1;
  --background_color: #e4d4ad;
}

body {
  background-color: var(--background_color);
  padding: 1rem;
  font-family: 'EB Garamond', serif;
}

#navbarNav {
  display: flex;
  flex-direction: row;

}
.nav-bar-brand {
  padding-left: 1rem;
}

#nav-bar-all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 40px;
}
h1 {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  padding-top: 2rem;
  color: var(--brown);
}
#make-green {
    color: var(--green)
}
#main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#main-page-3-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  padding-bottom: 3rem;
}

#main-page-img {
  padding: 1rem;
  width: 20rem;
  height: 25rem;
}

#main-page-buttons {
  background-color: var(--brown);
  color: white;
  font-size: 130%;
  border-radius: 10px;
  border-style: solid;
  border-color: var(--brown);
}

#search-plants {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  border-radius: 40px;
}

#search-bar-main{
display: flex;
align-items: center;
justify-content: center;
padding: 1rem;
border-radius: 40px;

}
#search-bar-border {
  border-radius: 54px;
  display: flex;
  flex-direction: row;
justify-content: center;
  width: 75%;
}
#search-bar {
    display: flex;
    flex-direction: row;
}
#search-input {
    width: 60rem; 
    height: 3rem;
    border-style: solid;
    border-width: 0.2rem;
    border-color: var(--green);
    border-radius: 40px;
    padding: 1rem;
    font-size: 160%;
    background-color: white
    
}

#search-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: none;
    border-radius: 40px;

    
}
